$sub-title-color: #A00404;
$full-block-background: #415165;

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

img{
    vertical-align: middle; 
}

h2,h3,p,span{
    line-height: 1.5;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    line-height: 95px;
    padding-top: 40px;
    padding-bottom: 22px;
    border-bottom: 2px solid #000;
}

.photo {
    padding: 48px 0;
}

h2 {
    font-size: 32px;
    padding-bottom: 7px;
    border-bottom: 1px solid #000;
}

span {
    font-size: 24px;
    color: $sub-title-color;
    padding-left: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-16{
    margin-bottom: 16px;
}

.container .content {
    padding-top: 16px;
    padding-bottom: 64px;
}

.container p {
    font-size: 24px;
}

.container hr {
    border-width: 0px;
}

.container .profile-hr {
    margin: 12px 0;
}

.skills {
    background: $full-block-background;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 40px;
    margin-bottom: 64px;
}

.skills .container-skills {
    width: 996px;
    margin: 0 auto;
}

.skills h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
}

.skills span {
    color: #fff;
}

.skills ul {
    width: 224px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
}

.skills p {
    font-size: 24px;
    padding-bottom: 8px;
}

.last-p p{
    padding-bottom: 0px;
}

.work .container-work{
    margin-top: 16px;
    margin-left: 24px;
    padding-left: 24px;
    padding-right: 514px;
    border-left: 1px solid #96A9C4;
}

.work h3{
    font-size: 24px;
    font-weight: bold;
}

.work p{
    font-size: 20px;
}

.work li{
    padding-top: 24px;
}

.contact{
    background: $full-block-background;
    margin-top: 80px;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 40px;
    text-align: center;
}

.contact .container h2{
    border-bottom: 1px solid #fff;
}

.contact .container span{
    color: #fff;
}

.contact ul{
    padding-top: 24px;
}

.contact li{
    padding-bottom: 16px;
}

.contact p{
    font-size: 24px;
}

.contact a{
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
  color: #000;
}

.contact img{
    padding-left: 24px;
}